/*DISABLE BROWSER CASHING WHEN EDITING!!!!!*/
/*----------------------------------------------------------------*/
/*-----------------------HEADER STUFF-----------------------------*/
/*----------------------------------------------------------------*/

.bar {
    border-radius: 20px;
}

#pcinfo {
    padding: 2px;
    padding-left: 5px;
    background: rgb(83, 156, 71);
    border: 2px solid rgb(66, 122, 56);
}

#restartheader {
    /*background: rgb(224, 206, 135);*/
    /*border-radius: 20px;*/
    border: 2px solid white;
		border-width: thin;
		padding: 0.5%;
}

#restartheader button {
	  /*border-left-style: solid;
	  border-width: 5px;
		border-color: rgba(114, 12, 232, 0.59);*/
		border: none;
    margin: 2px;
    background: rgba(52, 76, 232, 0.31);
		color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		cursor: pointer;
}


/*----------------------------------------------------------------*/
/*-----------------------CONTENT STUFF----------------------------*/
/*----------------------------------------------------------------*/

#welcome h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	text-align: center;
}

#welcome p {
	border-left-style: solid;
	border-right-style: solid;
	border-width: 5px;
	border-color: rgb(52, 76, 232);
	padding: 1%;
	background: rgba(52, 76, 232, 0.31);
}

#dropdown {
	/*margin: auto;
	width: 20%;*/
	text-align: center;
	/*align-content: center;*/
	/*border: 1px solid black;*/
}

#dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;

    border-radius: 0;
    border: none;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);

    background-color: #344ce8;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#dropdown select:hover, #dropdown select:active {
    /*background-color: black;*/
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#dropdown select option {
    background-color: #a5ade8;
    border: none;
    color: black;
    /*padding: 15px 32px;*/
    /*text-align: center;
    text-decoration: none;
    display: inline-block;*/
    font-size: 16px;
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/*when you hover over the buttons...*/
button:hover,
button:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#startButton {
	background-color: #109618;
    border: none;
    color: white;
}

#stepButton {
	background-color: #ff9900;
    border: none;
    color: white;
}

#pauseButton {
	background-color: #b82e2e;
    color: white;
}

#resetButton {
    background-color: #344ce8;
    color: white;
}

#startSim {
    margin-top: 30px;
    background-color: #344ce8;
    color: white;
}

#visualization_box table {
    margin: auto;
    margin-bottom: 2%;
}

.bodyButtons button {
    /*background-color: white;*/
    /*color: black;*/
    /*border: 2px solid #455190;*/
    border: none;

    /*space between buttons*/
    margin-bottom: 5px;

    /*Don't use padding for width/height because otherwise width is reliant on text, which now changes according to body UID*/
    /*padding: 15px 120px;*/
    width: 25vw;
    /*height: 5vh;*/

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;


}



.bodyData tr:hover {background-color: #f5f5f5}

td {
	/*border: 1px solid black;*/
}

input {
	border: 1px solid rgba(195, 49, 226, 0);
	background: rgba(0, 0, 0, 0.1);
	/*-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;*/
}

input:hover {
	border: 1px solid rgb(0, 0, 0);
}

.checkbox {
	border: none;
	background: rgb(138, 240, 22)
}

/*#visandbuttons td {
	width: 50%;

}*/
