<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>N-Body</title>
    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" href="css/style.css">

    <!-- LIBRARIES: -->
    <!-- <script src="lib/angular.min.js"></script> -->
    <script src="lib/angular.js"></script>
    <script src="lib/d3.v3.js"></script>

    <!-- main controller -->
    <script src="js/driver.js"></script>
    <script type="text/javascript">
    //color for bodies, able to be referenced across all scopes. Bodies choose colors from left to right by their UID. Colors from google.
    var color = [ "#990099", "#e67300", "#0099c6", "#dd4477", "#66aa00", "#316395", "#994499", "#22aa99", "#aaaa11", "#6633cc", "#8b0707", "#651067", "#3366cc", "#dc3912", "#329262", "#5574a6", "#3b3eac"];
    </script>

    <!-- visualizations -->
    <script src="js/visualization.js"></script>
</head>

<body ng-app="theDriver">
    <div id="page" ng-controller="mainController">

        <!-- This div holds data loading stuff, and then disappears after loading -->
        <div id="welcome" ng-hide="simulation.bodies.length > 0">
            <h1>
                N-Body Simulation
            </h1>
            <p>
                An N-Body simulation is a physics simulation of particles under
                the influence of gravitational forces.
                N-Body simulations are widely used in astrophysics and astronomy
                on scales ranging from single solar systems to entire galaxies.
                However, due to the constraints of this project's development
                environment (a browser based application) the simulation presets
                we include are reletively small.
            </p>
            <p>
                This is a project for Clark University's <i>Planets and Space Exploration</i>
                class, created by <b>Ella Tuson</b> and <b>Josh Trahan</b>.
                It was created in HTML, CSS and javascript with extensive use of
                the AngularJS and D3js libraries. Datasets and inspiration come from
                <a href="ftp://ftp.cs.princeton.edu/pub/cs126/nbody/">Princeton University's CS126 Nbody assignment</a>
                and <a href="http://cs.clarku.edu/~cs121/nbody.html">Clark University's CS121 Nbody assignment</a>.
                Please see <a href="https://bitbucket.org/thatfiferguy/nbody">our bitbucket repository</a> for the source code and more details.
            </p>
            <p>
                To begin, select one of the premade simulations from the drop
                down menu and click "start simulation." From there you can
                control the simulation and edit properties of the bodies
                themselves using the user interface.
            </p>
            <div id="dropdown">
                <!-- dropdown of what to load -->
                <select ng-model="loadfile">
                    <option value="planets.txt">planetary system (circular)</option>
                    <option value="elliptical.txt">planetary system (elliptical)</option>
                    <option value="binary.txt">binary system</option>
                </select>
                <!-- <br  /> -->
                <!-- <input type="text" ng-model="loadfile"></input> -->
                <!-- button calls loadData on loadfile variable when clicked -->
                <button id="startSim" ng-click="loadData(loadfile)">></button><br>
            </div>
        </div>
        <!-- right col -->
        <div ng-show="simulation.bodies.length > 0" id="visualization_box">
            <div id="startPauseStepButtons">
                <table>
                    <tr>
                        <td><button id="startButton" ng-click="startSimulation()">run</button></td>
                        <td><button id="stepButton" ng-disabled="simulation.properties.running == true" ng-click="stepSimulation()">step</button></td>
                        <td><button id="pauseButton" ng-click="pauseSimulation()">pause</button></td>
                        <td><button id="resetButton" onClick="window.location.reload();">start over</button></td>
                    </tr>
                </table>
            </div>
            <div id="visualization">
                <table id="visandbuttons">
                    <tr>
                        <td>
                            <!-- if this is not hidden when the simulation is running, animation is really really slow! -->
                            <div class="bodyButtons" ng-repeat="body in simulation.bodies">
                                <!-- the button to collapse body data -->
                                <button ng-click="body.expanded = !body.expanded; updateData()" ng-style="buttonstyle(body)">Body {{body.id}}</button>
                                <table class="bodyData" ng-show="!simulation.properties.running && body.expanded" style="margin-left: 25px">
                                    <tr>
                                        <td>x</td>
                                        <td><input type="number" ng-model="body.x" ng-change="updateData()" ng-disabled="simulation.properties.running"></td>
                                        <!-- <td>{{ body.x.toExponential(4) }}</td> -->
                                    </tr>
                                    <tr>
                                        <td>y</td>
                                        <td><input type="number" ng-model="body.y" ng-change="updateData()" ng-disabled="simulation.properties.running"></td>
                                    </tr>
                                    <tr>
                                        <td>mass</td>
                                        <td><input type="number" ng-model="body.mass" ng-change="updateData()" ng-disabled="simulation.properties.running"></td>
                                    </tr>
                                    <tr>
                                        <td>enabled</td>
                                        <td><input class="checkbox" type="checkbox" ng-model="body.enabled" ng-change="updateData()" ng-disabled="simulation.properties.running"></td>
                                    </tr>
                                </table>
                                <!-- x: {{ body.x.toExponential(4) }}
                                y: {{ body.y.toExponential(4) }}
                                mass: {{ body.mass.toExponential(4) }}
                                enabled: <input type="checkbox" ng-model="body.enabled" ng-change="updateData()" ng-disabled="simulation.properties.running">{{body.enabled}} -->
                            </div>
                        </td>
                        <td>
                            <visualization simulation="simulation"></visualization>
                        </td>
                    </tr>
                </table>
            </div>

        </div>


    </div>
</body>

</html>
